.test-container {
  position: relative;
}

.test-image {
  opacity: 1;
  width: 276px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: 10px;
  object-fit: cover;
  height: max(8rem, 20vh);

  border-radius: 10px;
}

.hover-btn {
  border-radius: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  transition: all ease 0.8s;
}

.hover-btn:hover {
  background-color: tomato;
}
.text:hover {
  background-color: tomato;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.test-container:hover .test-image {
  opacity: 0.3;
}

.test-container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  transition: all ease 0.8s;
  border-radius: 5px;
}
