.nav-list {
  list-style: none;
  display: flex;

  gap: 45px;
}

.nav-content {
  display: flex;
  font-family: "Comic sans ms";
  
}

.logo-content {
  display: flex;
  font-size: 18x;
  width: 70%;

  margin: 0;
  padding: 0;
  font-family: "Comic sans ms", sans serif;
}

.logo-content h3 {
  letter-spacing: 2px;
  color: wheat;
  
}

#logo {
  border-radius: 100px;
  height: 70px;
  margin: 2px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.header-content {
  margin: 10px;
  padding: 10px;
  
}


.nav-list li {
  
  transition: all ease 0.3s;
}

.nav-list li:hover {

}

@media only screen and (max-width: 600px) {

  .nav-list {
    
    font-size: small;
    flex-wrap: wrap;
    justify-content: center;


  }
  .logo-content {
    font-size: small;
  }
  

}