.nav-list {
  list-style: none;
  display: flex;

  gap: 45px;
}

.nav-content {
  display: flex;
  font-family: "Comic sans ms";
}

.logo-content {
  display: flex;
  font-size: 18x;
  width: 70%;

  margin: 0;
  padding: 0;
  font-family: "Comic sans ms", sans serif;
}

.logo-content h3 {
  letter-spacing: 2px;
  color: wheat;
}

#logo {
  border-radius: 100px;
  height: 70px;
  margin: 2px;
}

header {
  display: flex;
  justify-content: space-around;
}
