
.goto-btn {
    text-transform: uppercase;
  font-weight: 600;
  font-size: x-small;
  border-radius: 5px;
  border: none;
}

@media only screen and (max-width: 620px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px
        
    }
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px
    
}

.card p {
    text-align: center;
}