.main-container {
  background-color: #242425;
  border-radius: 10px;
  padding: 20px;
}

.list ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.recipe-img {
  object-fit: cover;
  height: max(10rem, 30vh);
  width: 276px;
  border-radius: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}
