.main-container {
  background-color: #242425;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.list ul {
  gap: 20px;
  list-style: none;
}

.test-image {
  object-fit: cover;
  height: max(10rem, 30vh);
  width: 276px;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

@media only screen and (max-width: 600px) {
  .test-image {
    height: max(10rem, 20vh);
    width: auto;
    gap: 10px;
    object-fit: none
    
  }


  .main-container {
    flex-direction: column;
    width: auto;
    padding: 5px;

  }
  .test-container {
    width: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .test-container img {
    width: auto;
    height: max(5rem, 20vh);
  }
  
}
